/* report1107 link*/
body{
    margin:0;
}
#wrap{
    width:1200px;
    margin:0 auto;
    position:relative;
}
#header{
    width:100%;
    padding:20px 0;
    position:sticky;
    top:0;
    z-index: 100;
    background-color:#fff;
}
.logoWrap{ width:50px; height:25px; }

.menuWrap{
    position:absolute;
    left:250px;
    top:0;
}
.nav{
    position:relative;
    line-height:90px;
}
.menu{
    width:150px;
    position:absolute;
}
.nav .menu:nth-child(2){
    left:150px;
}
.nav .menu:nth-child(3){
    left:330px;
}
.nav .menu:nth-child(4){
    left:450px;
}
.nav .menu:nth-child(5){
    left:600px;
}
#main{
    position:relative;
    left:100px;
    width:100%;
    margin-top:80px;
}
.mainTab{
    position:relative;
    width:50%;
    margin-top:20px;
}