body{
    background-color:#fede29;
    margin:0;
}
#wrap{
    width:1200px;
    border-collapse:collapse;
    margin:20px auto;
}
#wrap tr td{
    border:1px solid #000;
    
}

#header{
    border-radius:20px;
    height:80px;
    width:100%;
    background:#fff;
    font-weight:800;
    font-size:19px;
}
#slideWrap{
    width:600px;
    height:700px;
}
#drinkWrap{
    width:600px;
}
.menuItem{
    padding-left:50px;
}
.slide{width:100%;} /*부모태그인 #slideWrap의 너비와 같아진다.*/
.leftMove, .rightMove{
    width:50px;
    font-size:50px;
    text-align:center;
    color:black;
}

.leftMove i:hover, .rightMove i:hover{ /*커서모양바꾸기*/
    cursor:pointer;
}
.slideImage{
    width:500px;
}
.slideImage img{width:100%;}