/* default.css*/
*{
    margin:0;
    padding:0;
}
#wrap{
    width:100%;
    margin:0 auto;
    background-color:blanchedalmond;
}
#header{
    width:100%;
    height:100px;
    background-color:rgba(45, 170, 170, 0.884);
}

.title{
    text-align:center;
    padding:20px;
}
.menuWrap{
    width:100%;
    display:inline-block;
    text-align:right;
    background-color:aqua;
    box-sizing:border
}
.menu{
    padding:0 30px;
    /* margin-right:50px:*/
}
.menu:hover
#main{
    width:100%;
    height:800px;
    background-color:blanchedalmond;
    position:relative;

}
.siteDetail{
    width:100%;
    height:450px;
    margin-top:30px;
    position:relative;
}
.siteDetail h2{
    text-align:right;
}
.siteDetail h4{
    width:300px;
    height:80px;
    overflow: scroll;
    border: 1px solid #000;
    margin-left:1300px;
    margin-top:30px;
}
.siteDetail img{
    height:630px;
    position:absolute;
    top:0;
}
.siteUse{
    width:100%;
    height:300px;
    margin-top:5px;
}
.button{
    /* display:inline-block; */
    margin-left:1000px;
    margin-top:-100px;
}
.freeSign{
    width:100px; height:50px;
    background-color:brown;
    box-shadow: inset 0px 0px 2px 10px #740808;
    margin-left:50px;
    color:#fff;
    text-align:center;
    line-height:50px;
}
.devTool{
    width:100px; height:50px;
    background-color:brown;
    box-shadow: inset 0px 0px 2px 10px #740808;
    margin-left:200px;
    margin-top:-50px;
    color:#fff;
    text-align:center;
    line-height:50px;
}
.card{
    width:500px;
    margin-left:1300px;
    margin-top:100px;
    /* border:1px solid #000; */
}
.build{
    width:250px;
    height:200px;
    text-align:center;
}
.build img{
    height:100px;
}
.learn{
    width:250px;
    height:200px;
    text-align:center;
    margin-left:200px;
    margin-top:-200px;
    /* position:absolute; */
}
.learn img{
    width:170px;
    height:100px;
}
#footer{
    width:100%;
    background-color:aqua;
    padding:0 30px;
}

