#searchWrap{
    width:1200px;
    margin:0 auto;
    padding:10px 0;
}
#searchWrap .search{
    width:600px;
    margin:0 auto;
    border-bottom:1px solid #bbb;
}
#searchWord{
    width:90%;
}
#searchWord + label{
    display:inline-block;
    width:8%;
    text-align:center

}


#slideWrap{
    width:100%;
    background:var(--box-color);
    height:500px;
}
#slideBox{
    width:1200px;
    margin:0 auto;
    position:relative;
}
#slideBox .slide{
    width:100%;
    height:500px;
    position:relative;
    overflow:hidden;
}
#slideBox .slide .slideList{
    display:flex;
    height:100%;
    width: calc(1200px * 4);
    position:relative; /*여기부터 아래2칸 이미지 슬라드를 위한 코드*/
    right:0px;
    transition: right 1s ease;
    /* margin-left:-2400px; 3번째이미지가 나타난다*/
}
#slideBox .slide .slideList .slideImg{
    width:1200px;
}

#slideBox .leftBt{
    position:absolute;
    top:50%;
    left:10px;
    font-size:var(--title-size);
    background:rgba(255,255,255,0.1) /* a는 투명도 지정 */
}
#slideBox .rightBt{
    position:absolute;
    top:50%;
    right:10px;
    font-size:var(--title-size);
    background:rgba(255,255,255,0.1) /* a는 투명도 지정 */
}



#main{
    width:1200px;
    margin:0 auto;
    padding:50px 100px;
}
#main .gridTest{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap:10px;
}
#main .gridTest .gridItem{
    overflow: hidden;
}
.gridItem:nth-child(1){
    /* grid-column: 1/2; */
    grid-row: 1/3;
}
.gridItem:nth-child(4){
    grid-column: 2/4;
    /* grid-row: 2/3; */
}
